@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Museo Cyrl';
  src: url('../fonts/Museo\ Cyrl\ 500.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url('../fonts/CirceRounded-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url('../fonts/CirceRounded-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* .icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
} */


body {
  background: #FFFFFF;
  font-family: "Museo Cyrl", sans-serif;
}

nav {
  background: #FFFFFF;
  width: 100%;
  height: 102px;
  border-bottom: 2px solid #CDCDCD;
}

nav a {
  color: black !important;
}

.nav-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
}

.nav__wrapper-left {
  display: flex;
  height: 72.28px;
  align-items: center;
}

.nav__wrapper-left > * {
  display: flex;
}

.nav__logo {
  width: 190px;
  height: 72.28px;
  background: url(../img/Logo_Kodland.png);
}

.nav__title {
  width: max-content;
  height: 31px;

  font-size: 24px;
  line-height: 31px;

  color: #010101;
}

.nav__wrapper-right ul {
  display: flex;
  align-items: center;
}

.nav__wrapper-right a {
  display: flex;
  align-items: center;
}

.button:hover, .button:active {
  background: rgba(49, 90, 242, 0.75);
}

.latest {
  height: 428px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.latest__heading {
  font-size: 45px;
  line-height: 52px;
  letter-spacing: -0.416667px;
  color: #315AF2;
  width: 672px;
}

.latest__content {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.416667px;
  color: #000000;
  width: 391px;
  font-family: 'Circe Rounded';
}

.latest__button {
  margin-top: 20px;
  border-radius: 3px;
  height: 68px;
}

.latest__button a {
  display: flex;
  align-items: center;
  background: #315AF2;
  font-size: 36px;
  text-transform: none;
  letter-spacing: -0.416667px;
  color: #FFFFFF;
}

.latest__img {
  position: absolute;
  height: 568px;
  right: -200px;
  top: -5px;
  z-index: -1;
}

.divider {
  height: 2px;
}

.others__heading {
  font-size: 36px;
  line-height: 20px;
  letter-spacing: -0.416667px;
  color: #315AF2;
  font-family: 'Museo Cyrl';
  font-weight: bold;
  padding-bottom: 24px;
}

.other {
  width: 1052px;
  padding: 5px;
}

.other .col {
  min-height: 300px;
  height: 300px;
  width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #CDCDCD;
  border-radius: 3px;
  background: #FFFFFF;
  box-sizing: border-box;
}

.other__date {
  font-size: 12px;
  line-height: 20px;
  color: #979797;
  letter-spacing: -0.416667px;
  margin-top: 15px;
}

.other__img {
  min-height: 112px;
  width: 217px;
  margin: 0 auto;
}

.other__tag {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.416667px;
  color: #000000;
  margin: 0 auto;
}

.other__heading {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.416667px;
  color: #315AF2;
  width: 258px;
  margin: 0 auto;
  font-family: 'Circe Rounded';
}

.others__heading-wrapper {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  height: 49px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.other__bottom {
  height: 29px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.other__bottom-left {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.other__likes, .other__comments, .other__views {
  display: flex;
  align-items: center;
  width: 56px;
}

.other__likes span, .other__comments span, .other__views span {
  margin-left: 4px;
  font-size: 24px;
  color: #CDCDCD;
  letter-spacing: -0.416667px;
}


form {
  display: flex;
  flex-direction: column;
  max-height: 562px;
  flex-wrap: wrap;
  margin: 0 auto;
}

form p {
  margin-top: 0;
}

form input[type="text"] {
  background: #FFFFFF;
  border: 2px solid #CDCDCD !important;
  border-radius: 3px !important;
  width: 882px !important;
  box-sizing: border-box !important;
}

form textarea {
  background: #FFFFFF;
  border: 2px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 3px;
  width: 881px;
  min-height: 420px;
}

form button[type="submit"] {
  background: #E9399C;
  height: 50px;
  width: 159px;
  font-size: 18px;
  text-align: center;
  padding: 0;
  border-radius: 3px;
  margin-bottom: 24px;
}

form :nth-child(4) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  order: 1;
  width: 298px;
  background: #FFFFFF;
  border: 2px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 3px;
  min-height: 135px;
  padding: 17px;
}

form :nth-child(4) label {
  display: none;
}

form :nth-child(4) span {
  width: 255px;
  height: 31px;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: #315AF2;  
  margin: 11px;
}

form input[type="file"] {
  border-radius: 3px;
  width: 155px;
  height: 50px;
}

form input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

form input[type="file"]::before {
  content: 'Выбрать';
  display: inline-block;
  background: #315AF2;
  border-radius: 3px;
  width: 155px;
  height: 50px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 14px 0;
}

form input[type="file"]:hover::before {
  filter: brightness(1.25)
}


form input[name="title"] {
  padding-left: 13px !important;
  font-size: 24px;
  color: #315AF2;
  font-weight: bold;
}

form input[name="title"]::placeholder {
  font-size: 24px;
  letter-spacing: -0.416667px;
  font-weight: normal;
}

form > img {
  position: relative;
  top: -440px;
  right: 26px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Circe Rounded';
  padding: 5px;
  justify-content: space-between;
}

.posts > * {
  margin-bottom: 25px;
}