{% extends "base.html" %}
{% load static %}


{% block title %}Блог / Добавить статью{% endblock %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="latest__heading form__heading">Добавить статью</h1>
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <img src="{% static 'img/wysiwyg.svg' %}">
                <button type="submit" class="save btn button">Опубликовать</button>
            </form>
        </div>
    </div>
</div>

<script src={% static 'js/formHandle.js' %}></script>

{% endblock %}